html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

header {
  display: flex;
}

table, th, td {
  border: 1px solid #4e5d6f;
  border-collapse: collapse;
}

.button {
  color: #4e5d6f;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #000;
}

th {
  cursor: pointer;
}

th.code, td.code {
  border-right: none;
}

td.xdamage {
  color: #ea8;
}

th.xdamage, td.xdamage, tr.xdamage, th.xap, td.xap {
  border-left: none;
  padding-left: 0;
  text-align: left;
}

th.name, td.name {
  border-left: none;
  text-align: left;
  overflow: hidden;
}

td.name {
  color: #80c3f5;
}

.sorter {
  font-size: 0.7em;
  color: #404040;
  padding: 0 0.5em;
}

.sorting .sorter {
  color: #edfedf;
}

.category.AR, .ap-5, .source-main.demo-det {
  color: #e88;
}
.category.SMG, .ap-8 {
  color: #eee;
}
.category.SG, .ap-3 {
  color: #8e8;
}
.category.DMR, .ap-2, .source-main.cut-edge {
  color: #88e;
}
.category.EX, .ap-4, .source-main.steel-vets {
  color: #ea8;
}
.category.NRG, .ap-9, .source-main.hd-mobilize {
  color: #ee8;
}
.category.HG, .ap-6 {
  color: #a8e;
}
.category.SUP, .ap-7, .source-main.support {
  color: #e8a;
}
.source-page {
  font-size: 0.7em;
  padding-left: 0.5em;
}
.one-over {
  color: #a98a98;
  font-size: 0.7em;
}
.rpm-charge:after {
  color: #a98a98;
  content: "s";
}
.source-page:before {
  content: "#";
}
.damage-x {
  color: #ea8;
  padding-left: 0.5em;
}
.damage-x:before {
  color: #a98a98;
  content: "+";
}
.ap-x, .ap-fire {
  padding-left: 0.5em;
}
.reload-one:after {
  color: #a98a98;
  content: "-";
}

.cap-limit:after {
  color: #a98a98;
  content: "+";
}
.roundstart:before {
  color: #a98a98;
  content: "+";
}
.magstart:before {
  color: #a98a98;
  content: "×";
}
.reload-early:before, .clipstart:after, .roundstart:after, .magstart:after, .roundsbox:before, .clipsbox:before, .box:before {
  color: #a98a98;
  content: "/";
}

.clipsize {
  font-size: 0.7em;
  color: #a98a98;
}
.clipsize:before {
  content: "[";
}
.clipsize:after {
  content: "]x";
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
