html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
}

header {
  display: flex;
}

table, th, td {
  border: 1px solid #4e5d6f;
  border-collapse: collapse;
}

.button {
  color: #4e5d6f;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #000;
}

.menu {
  display: flex;
}

.filters {
  flex: 1;
}

th {
  cursor: pointer;
  border-left: none;
  border-right: none;
}

td.code {
  border-right: none;
}

td.name {
  border-left: none;
  text-align: left;
  overflow: hidden;
}

td a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

td.name {
  color: #80c3f5;
}

.sorter {
  font-size: 0.7em;
  color: #404040;
  padding: 0 0.5em;
}

.sorting .sorter {
  color: #edfedf;
}

.category.AR, .ap-5, .source.demo-det {
  color: #e88;
}
.category.SMG, .ap-8 {
  color: #eee;
}
.category.SG, .ap-3 {
  color: #8e8;
}
.category.DMR, .ap-2, .source.cut-edge, .damage-type.arc {
  color: #88e;
}
.category.EX, .ap-4, .source.steel-vets {
  color: #ea8;
}
.category.NRG, .ap-9, .source.hd-mobilize, .rpm-laser {
  color: #ee8;
}
.category.HG, .ap-6 {
  color: #a8e;
}
.category.SUP, .ap-7, .source.support {
  color: #e8a;
}
.source-page {
  font-size: 0.7em;
  padding-left: 0.5em;
}
.damage-type {
  font-size: 0.7em;
}
.effect-value {
  padding-left: 0.5em;
}
.one-over {
  color: #a98a98;
  font-size: 0.7em;
}
.rpm-charge:after {
  color: #a98a98;
  content: "s";
}
.source-page:before {
  content: "#";
}
.stun-x, .push-x, .demo-x {
  color: #ea8;
  padding-left: 0.1em;
}
.cap-plus:before {
  color: #a98a98;
  content: "+";
}
.damage-x {
  color: #ea8;
}
.demo-x:before, .stun-x:before, .push-x:before {
  color: #a98a98;
  content: "/";
}
.cap-plus {
  display: inline-block;
  font-size: 0.7em;
  width: 1em;
}
.cap-limit {
  color: #a98a98;
}
td.cap {
  border-right: none;
  padding-right: 0;
}
.damage-type {
  padding-right: 0.2em;
}

th.capextra, td.capextra {
  border-left: none;
  text-align: left;
  padding-left: 0;
}
.pellets:after {
  color: #a98a98;
  content: "×";
}
.ap-x, .ap-fire {
  padding-left: 0.5em;
}
.reload-one:after, .charge-early:after {
  color: #a98a98;
  content: "-";
}
.roundstart:before {
  color: #a98a98;
  content: "+";
}
.magstart:before {
  color: #a98a98;
  content: "×";
}
.reload-early:before, .reload-x:after, .clipstart:after, .roundstart:after, .magstart:after, .roundsbox:before, .clipsbox:before, .box:before {
  color: #a98a98;
  content: "/";
}

.clipsize {
  font-size: 0.7em;
  color: #a98a98;
}
.clipsize:before {
  content: "[";
}
.clipsize:after {
  content: "]x";
}

ul.sources, ul.categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
}

.sources .source, .categories .category {
  width: 4em;
  cursor: pointer;
}

.hidden {
  text-decoration: line-through;
  opacity: 0.7;
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
