html {
  color: #fafafa;
  background-color: #141414;
  font-family: "Helvetica Neue", Meiryo, sans-serif;
  --detail-text-color: #a98a98;
  --muted-text-color: #7d7d7d;;
  --explosion-text-color: #ea8;
  --muted-explosion-text-color: #754;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.nav-selected, .scope.selected {
  border-bottom: thin solid;
}

.select {
  all: unset;
}

.spacer {
  flex: 1;
}

nav a, .scope {
  padding-left: 0.5em;
  padding-right: 1.5em;
  color: #80c3f5;
  text-align: left;
  overflow: hidden;
}

header {
  display: flex;
}

table, th, td {
  border: none;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #000;
  white-space: nowrap;
  text-align: left;
}
tfoot th {
  position: sticky;
  bottom: 0;
  background-color: #000;
}

th.damage {
  text-align: right;
}

.button {
  color: #4e5d6f;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

td {
  padding: 0.2em 0.5em;
  text-align: right;
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #000;
}

.menu {
  display: flex;
}

.filters {
  flex: 1;
}

th:not(.th-groups, .label) {
  cursor: pointer;
  border-left: none;
  border-right: none;
}

td.damage.ap,
td.explosion.radius,
td.damage.effect,
td.damage.effect-param,
td.damage.dmgtype,
td.damage.dmg,
td.damage.massive,
td.weapon.type,
td.weapon.pellets,
td.weapon.dmg,
{
  border-left: thin solid #4e566f7f;
  border-right: none;
  padding-left: 0;
  padding-right: 0.2em;
}

td.damage.ap {
  padding-left: 0;
  padding-right: 0.2em;
}
td.damage.ap.ap-list-1, td.explosion.radius.r1, td.effect.effect1 {
  padding-left: 0.2em;
}

td.explosion.label, td.beam.label, td.arc.label, td.stratagem.label {
  color: var(--detail-text-color);
}

td.code {
  border-right: none;
}

td.name {
  border-left: none;
  text-align: left;
  overflow: hidden;
}

.inheritance {
  color: var(--detail-text-color);
}

td.effect-param {
  font-size: 0.7em;
}

td a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

td.name {
  color: #80c3f5;
}

.sorter {
  font-size: 0.7em;
  color: #404040;
  padding: 0 0.5em;
}

.sorting .sorter {
  color: #edfedf;
}

.ap-0 {
  color: var(--muted-text-color);
}
.category.OrbitalFireSupport, .category.AR, .ap-5, .source.demo-det {
  color: #e88;
}
.category.SMG, .ap-8, .source.truth-enforcers {
  color: #ccc;
}
.source.truth-enforcers {
  color: #aaa;
}
.category.SG, .ap-3, .source.chemical-agents {
  color: #8e8;
}
.category.Emplacement {
  color: #3f712c;
}
.category.HellpodDeployment, .category.DMR, .ap-2, .source.cut-edge, .damage-type.arc {
  color: #88e;
}
.category.EX, .ap-4, .source.steel-vets {
  color: var(--explosion-text-color);
}
.category.SPC, .category.NRG, .ap-9, .source.hd-mobilize, .rpm-laser {
  color: #ee8;
}
.category.HG, .ap-6 {
  color: #a8e;
}
.category.Status, .ap-7, .category.OrbitalBombardment, .source.freedoms-flame {
  color: #e8a;
}
.category.CloseAirSupport {
  color: #c8442e;
}
.category.SUP, .source.support, .ap-1 {
  color: #269ab6;
}
.category.Misc, .category.GrSp {
  color: var(--detail-text-color);
}
.category.GrSt, .source.viper-commandos {
  color: #aa8;
}
.category.Mounted, .category.TactialAirInsertion {
  color: #888;
}

.source-page {
  font-size: 0.7em;
  padding-left: 0.5em;
}
.damage-type {
  font-size: 0.7em;
}
.effect-value {
  padding-left: 0.5em;
}
.one-over {
  color: var(--detail-text-color);
  font-size: 0.7em;
}
.time:after {
  color: var(--detail-text-color);
  content: "s";
}
.reload-heat:before {
  color: var(--detail-text-color);
  content: "|";
}
.shieldregen:after {
  color: var(--detail-text-color);
  content: "/s";
}
.length:after {
  color: var(--detail-text-color);
  content: "m";
}
.source-page:before {
  content: "#";
}
.stun-x, .push-x, .demo-x, .xstun, .xpush, .xdemo {
  color: var(--explosion-text-color);
  padding-left: 0.1em;
}
.cap-plus:before {
  color: var(--detail-text-color);
  content: "+";
}
.damage-x, .xdmg, .name.name-explosion, .stub.explosion, .stub.radius, .weapon.dmgx {
  color: var(--explosion-text-color);
}

.dmgx.muted {
  color: var(--muted-explosion-text-color);
}

span.explosion.shrapnel:before {
  color: var(--detail-text-color);
  content: "x";
}
.beam.stub, .shield.stub {
  color: #ee8;
}
.arc.stub {
  color: #aae;
}
.name.name-projectile {
  color: #fafafa;
}
.demo-x:before, .stun-x:before, .push-x:before {
  color: var(--detail-text-color);
  content: "/";
}
.cap-plus {
  display: inline-block;
  font-size: 0.7em;
  width: 1em;
}
.cap-limit {
  color: var(--detail-text-color);
}
td.cap {
  border-right: none;
  padding-right: 0;
}
.damage-type {
  padding-right: 0.2em;
}

th.capextra, td.capextra {
  border-left: none;
  text-align: left;
  padding-left: 0;
}

td.effect {
  border-right: none;
  padding-right: 0;
}
td.effect-param {
  padding-left: 0;
  border-left: none;
}
td.effect-param:before {
  color: var(--detail-text-color);
  content: "(";
}
td.effect-param:after {
  color: var(--detail-text-color);
  content: ")";
}

.muted {
  color: var(--muted-text-color);
}

td.idx {
  font-size: 0.7em;
  color: var(--muted-text-color);
}

.arrows {
  font-size: 0.7em;
  /* margin-top: -0.5em;
  margin-bottom: -1em; */
  letter-spacing: 2px;
}

.pellets:not(.blank):after, .salvos:after {
  color: var(--detail-text-color);
  content: "×";
}
.ap-x, .ap-fire {
  padding-left: 0.5em;
}
.reload-one:after, .charge-early:after, .liferandom:after {
  color: var(--detail-text-color);
  content: "-";
}
.roundstart:before {
  color: var(--detail-text-color);
  content: "+";
}
.magstart:before {
  color: var(--detail-text-color);
  content: "×";
}
.pre-slash:after, .post-slash:before {
  color: var(--detail-text-color);
  content: "/";
}

.clipsize {
  font-size: 0.7em;
  color: var(--detail-text-color);
}
.clipsize:before {
  content: "[";
}
.clipsize:after {
  content: "]x";
}

.filter-row {
  display: flex;
}

ul.sources, ul.categories, ul.colfilters, ul.scopes, ul.langs {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

li.source, li.category, li.colfilter, li.scope, li.lang {
  width: 4em;
  cursor: pointer;
}

li.category {
  width: 3em;
}

li.colfilter {
  width: 5em;
}

.hidden {
  text-decoration: line-through;
  opacity: 0.7;
}

@media only screen and (max-width: 540px) {
  .name {
    width: 6em;
    text-align: right;
    direction: rtl;
  }
}
